{% load static %}
<script src="{% static 'js/jquery/jquery-2.2.4.min.js'%}"></script>
<!-- Popper js -->
<script src="{% static 'js/bootstrap/popper.min.js'%}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
<!-- All Plugins js -->
<script src="{% static 'js/plugins/plugins.js'%}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js'%}"></script>

<script src="{% static 'plugins/chart.min.js'%}"></script>
<!-- Icons library -->
<script src="{% static 'plugins/feather.min.js'%}"></script>
<!-- Custom scripts -->
<script src="{% static 'js/script.js'%}"></script>
