{% load static %}
<section class="video-area bg-img bg-overlay bg-fixed" style="background-image: url({% static 'img/bg-img/10.jpg' %});">
    <div class="container">
        <div class="row">
            <!-- Featured Video Area -->
            <div class="col-12">
                <div class="featured-video-area d-flex align-items-center justify-content-center">
                    <div class="video-content text-center">
                        <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        <span class="published-date">June 20, 2018</span>
                        <h3 class="video-title">Traffic Problems in Time Square</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Video Slideshow -->
    <div class="video-slideshow py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Video Slides -->
                    <div class="video-slides owl-carousel">

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/11.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Elon Musk: Tesla worker admitted to sabotage</p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/12.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Rachel Sm ith breaks down while discussing border crisis </p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/13.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Dow falls 287 points as trade war fears escalate</p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/11.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Elon Musk: Tesla worker admitted to sabotage</p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/12.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Rachel Sm ith breaks down while discussing border crisis </p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/13.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Dow falls 287 points as trade war fears escalate</p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>